* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.site-header {
    height: 0px;
    display: none;
}

.mode {
    display: table;
    min-width: 450px;
}

#normal-sheet {
    background: #86C232;
    float: left;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#printer-sheet {
    display: none;
    background-color: #FF652F;
    color: white;
    float: left;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.table-container {
    overflow-x: auto;
}

.issue-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

.issue-table tr {
    background-color: whitesmoke;
    height: 50px;
    border-bottom: 1px solid;
}

.issue-table tr:nth-child(even) {
    background-color: lightgray;
}

.issue-table tr:hover {
    background-color: lightyellow;
}

.issue-table th {
    color: black;
    text-align: left;
    padding: 0 17px 0 17px;
}

.issue-table td {
    text-align: left;
    padding: 0 17px 0 17px;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin: 60px 50px;
}

footer {
    display: none;
}

#icon-img {
    width: 70px;
}

@media screen and (max-width: 700px) {
    .site-header nav.site-header-links .flex-link {
        display: none;
    }
    .site-header nav.site-header-links ul .responsive-link {
        display: table-cell;
        background-color: #FFAF00;
    }
    main {
        margin: 100px 25px 120px 25px;
    }
}

@media screen and (max-width: 400px) {
    .site-header span.site-name {
        font-size: 20px;
        padding-left: 10px;
    }
    .site-header nav.site-header-links ul li a {
        font-size: 18px;
        font-weight: bold;
        padding: 15px 8px;
    }
    main {
        margin: 100px 20px 120px 20px;
    }
}